
@{
    ViewData["Title"] = "CartNotAdded";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<center>
    <h3>The Requested Movie is not Currently Active</h3>
    <h4>Thank You for Visiting Us</h4>
</center>

